<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>
@using FormValidations.Models;
@model Survey;

<h1>Success!! You have submitted your survey!</h1>
    <h2>Here is the information you submitted:</h2>
    <p>Full Name: @ViewBag.Survey.Name</p>
    <p>Dojo Location: @ViewBag.Survey.Location</p>
    <p>Your Fave Language: @ViewBag.Survey.Language</p>
    <p>Your Comment (Optional): @ViewBag.Survey.Comment</p>


    <a href="/">Back to form!</a>

</body>
</html>