@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
@using FormValidations.Models;
@model Survey;
    <form action="/submit" method="post">
    <p>Your Full Name: 
        <input type="text" asp-for="Name"/>
        <span style="color: red;" asp-validation-for="Name"></span>
    </p>
    <p>Your Location Name: <input type="text" asp-for="Location"/>
    <span style="color: red;" asp-validation-for="Location"></span></p>
    <p>Your Favorite Language: <select asp-for="Language">
        <option value="C#">C#</option>
        <option value="Python">Python</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Ruby">Ruby</option>
    </select> 
    <span style="color: red;" asp-validation-for="Location"></span></p>
    <p>Comment (optional):<input asp-for="Comment"/>
    <span style="color: red;" asp-validation-for="Comment"></span></p>
    <input type="Submit" value="Submit Form"/>
    </form>
    
</div>
