@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
@using FormValidations.Models;
@model User;
    <form action="/submit" method="post">
    <p>Your First Name: 
        <input type="text" asp-for="FirstName"/>
        <span style="color: red;" asp-validation-for="FirstName"></span>
    </p>
    <p>Your Last Name: <input type="text" asp-for="LastName"/>
    <span style="color: red;" asp-validation-for="LastName"></span></p>
    <p>Age: <input asp-for="Age" /> 
    <span style="color: red;" asp-validation-for="Age"></span></p>
    <p>Email:<input asp-for="Email"/>
    <span style="color: red;" asp-validation-for="Email"></span></p>
    <p>Password: <input asp-for="Password"/>
    <span style="color: red;" asp-validation-for="Password"></span></p>
    <input type="Submit" value="Submit Form"/>
    </form>
    
</div>
